<div class="col-md-12 nopading">
  <div class="alerthade">
    <div class="formHeder">
      <img src="assets/images/icon/logo_bookly.png">
    </div>
    <div class="col-md-12 alartmsg">
      <p> Are you sure you whent to delete the book ???
        <p>
          <div class="alartbtn">
            <div class="col-md-4 col-md-offset-2">
              <span>
                          <button class="btn btn-danger"
                          type="button">
                      Delete
                  </button>
                          
                      </span>
              <span>
                          <button class="btn btn-success"
                          type="button" >
                          cancel
                  </button>
                      </span>
            </div>
          </div>
    </div>
  </div>
