.nopading{
    padding: 0px!important;
}
.contentHight
{
    height: 89.5vh;
    margin-top: 95px;
}
.navigationContiner
{
    position: absolute;
}
.contant{
    background: #f7f7f7;
}
.booksare{
  height: 89vh;
  overflow-y: scroll;
}
@media only screen and (max-width: 766px) {

    .navigationContiner
    {
        position: initial;
    }

    }
