
.logoBackground
{
    background-image: url("/assets/images/icon/bg_logo.png");
    height: 131px;
    background-repeat: no-repeat;
    z-index: 99;
}
.navgtionHead
{
border-top: solid #6b7dfa;
}
.inputBar
{
    margin-top: 14px;
    text-align: center;
}
.searchInput
{
    border: none;
    border-bottom: solid 1px;
    text-align: center;
    margin-left: 10px;
    width: 46%;
}
